<% include partials/header %>
<div class="ui main text container">
  <div class="ui huge header">RESTful Blog App</div>
  <div class="ui top attached segment">
    <div class="ui divided items">
      <% for(var i = blogs.length -1; i > 0; i--){ %>
      <div class="item">
        <div class="image">
          <img src="<%= blogs[i].image %>" />
        </div>
        <div class="content">
          <a href="/blogs/<%= blogs[i]._id %>" class="header"
            ><%=blogs[i].title %>
          </a>
          <div class="meta">
            <span><%= blogs[i].created.toDateString()%></span>
          </div>
          <div class="description">
            <p><%- blogs[i].body.substring(0, 100) %>...</p>
          </div>
          <div class="extras">
            <a
              href="/blogs/<%= blogs[i]._id %>"
              class="ui floated basic green button"
              >Read More <i class="right chevron icon"></i
            ></a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <!-- <% blogs.forEach(function(blog){ %>
            <div>
                <h3><%=blog.title %> </h3>
                <img src="<%= blog.image %>">
                <p><%= blog.body %></p>
                <span><%= blog.created%></span>
            </div>
            
        <% }) %> -->
</div>

<% include partials/footer %>
